div.father {
    background-color: rgb(239, 205, 240);
    text-align: center;
    width: 800px;
    height: 150px;
    margin-left: 200px;
    border: 30px;
    bottom: 100px;
}

div.mam {
    background-color: rgb(220, 199, 240);
    text-align: center;
    width: 500px;
    height: 200px;
    margin-left: 350px;
}

#baba {
    background-color: rgb(87, 27, 143);
    text-align: center;
    width: 700px;
    height: 100px;
    margin: 40px;
    border: 30px;
}

img {
    width: 400px;
    margin: 4px;
    margin-left: 400px;
    border: solid 6px;
}